@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle500 {
  position: absolute;
  left: 0;
  top: 30%;
  width: 50%;
  height: 50%;
  background: linear-gradient(
    135deg,
    rgba(249, 115, 22, 0.4) 0%,
    rgba(0, 202, 255, 0) 30%
  );
  transform: rotate(45deg);
}

.triangle700 {
  position: absolute;
  right: 0;
  bottom: 30%;
  width: 50%;
  height: 50%;
  background: linear-gradient(
    135deg,
    rgba(249, 115, 22, 0.4) 0%,
    rgba(0, 202, 255, 0) 30%
  );
  transform: rotate(-135deg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
